body {
  margin: 20px;
  background-color: #d9d9d9;
  font-family: "Nunito", sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

.main-image {
  margin: auto;
}

.new-game {
  font-family: "Nunito", sans-serif;
  background-color: #5baa41;
  border-radius: 5px;
  border-color: #5baa41;
  color: #ffffff;
  margin: auto;
}

.crocodile {
  width: 60%;
}

.flag {
  height: 90%;
  margin-top: -2px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  font-family: "Nunito", sans-serif;
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: #d9d9d9;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
